#page {
    width: 1200px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    align-items: center;
    font-family: "EB Garamond", sans-serif;
    font-size: 20px;
}

.section {
    /* border: 0.5mm solid black;
    border-radius: 10px; */
    /* padding: 3%; */
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2 {
    font-family: "Special Elite", serif;
}

h1 {
    font-size: 64px;
    display: inline-block;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 15px;
}

p{
    margin: 0;
    margin-bottom: 2.5em;
}

.image {
    display: inline-block;
}

.pure-g [class*=pure-u]{
    margin-bottom: 30px;
    font-family: "EB Garamond", sans-serif;
    font-size: 20px;
}

.left {
    margin-right: 30px;
}

.ground {
    color: #808080;
}

#header {
    height: 150px;
}

#intro {
    margin-bottom: 1em;
}
