#page {
    width: 1200px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    align-items: center;
}

.section {
    border: 0.5mm solid black;
    border-radius: 10px;
    padding: 3%;
    padding-top: 1%;
}

.pure-g {
    margin-bottom: 30px;
}

.left {
    margin-right: 20px;
}

.right {

}
